{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": 0,
    "import/no-named-as-default": false
  }
}
