{
  "extends": [
    "rackt",
    "plugin:react/recommended",
    "plugin:import/errors"
  ],
  "rules": {
    "react/display-name": 0,
    "react/wrap-multilines": 2,
    "comma-dangle": 0,
    "quotes": 0,
    "object-curly-spacing": 0,
    "array-bracket-spacing": 0,
    "react/prop-types": 1,
    "space-before-function-paren": 0,
  },
  "plugins": [
    "react",
    "import"
  ],
  "settings": {
    "import/resolver": {"node": {"extensions": [".jsx", ".js"]}}
  }
}
