yarn.lock
package-lock.json
raw
*.sw?
.idea
.DS_Store
.vagrant
*.sublime-project
*.sublime-workspace
node_modules
test.sqlite3
npm-debug.log
tmp

# Testing for the knex cli:
bin/migrations-folder
bin/db.sqlite3

# Other artifacts created during testing
/knexfile.js


# Bench stuff
test/bench/temp
test/coverage/*
.nyc_output

#VsCode workspace
.vscode
