yarn.lock
raw
*.sw?
.idea
.DS_Store
.vagrant
*.sublime-project
*.sublime-workspace
node_modules
package-lock.json
test.sqlite3
npm-debug.log
tmp
lib

# Testing for the knex cli:
bin/migrations-folder
bin/db.sqlite3

# Bench stuff
test/bench/temp
test/coverage/*

#VsCode workspace
.vscode
