yarn.lock
raw
*.sw?
.idea
.DS_Store
.vagrant
node_modules
test.sqlite3
npm-debug.log
tmp

# Testing for the knex cli:
bin/migrations-folder
bin/db.sqlite3

# Bench stuff
test/bench/temp
test/coverage/*
