# .travis.yml
language: node_js

node_js:
  - '0.10'
  - '0.11'

before_script:
  - psql -c 'create database knex_test;' -U postgres
  - mysql -e 'create database knex_test;'

notifications:
  email: false

matrix:
  allow_failures:
    - node_js: '0.11'
  fast_finish: true