---

name: Coverage

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Coverage

    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 1

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2.4.0
        with:
          always-auth: false
          node-version: ${{ matrix.node-version }}

      - name: Start Databases
        run: npm run db:start:no-oracle

      - name: Run npm install
        run: npm install

      - name: Run Tests
        run: npm run test:coverage
        env:
          CI: true
          DB: "postgres mysql mysql2 mssql sqlite3"
          KNEX_TEST_TIMEOUT: 60000

      - name: Stop Databases
        run: npm run db:stop

      - name: Generate LCOV
        run: npm run coveralls

      - name: Update Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: success()
