---

name: Coverage

on:
  push:
    branches:
      - master

jobs:e
  build:
    runs-on: ubuntu-latest
    name: Coverage

    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x]
        database-type: [postgres, mysql, mssql, sqlite3]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          always-auth: false
          node-version: ${{ matrix.node-version }}

      - name: Start Database(s)
        run: |
          docker-compose \
            --file "scripts/docker-compose.yml" \
            up \
              --detach \
              --build \
              "mysql postgres mssql"

      - name: Initialize Database(s)
        run: |
          docker-compose \
            --file "scripts/docker-compose.yml" \
            up \
              --detach \
              "waitmssql waitmysql waitpostgres"

      - name: Run npm install
        run: npm install

      - name: Run Tests
        run: npm run test:coverage
        env:
          CI: true
          DB: postgres mysql mysql2 mssql sqlite
          KNEX_TEST_TIMEOUT: 60000

      - name: Stop Database(s)
        run: |
          docker-compose \
            --file "scripts/docker-compose.yml" \
            down

      - name: Update Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: success()
