name: "Publish npm"

on: push

jobs: 
      publish: 
      
              runs-on: ubuntu-latest
              steps: 
                  - name: checkout
                    uses: actions/checkout@v2
                  - name: node
                    uses: actions/setup-node@v2
                    with: 
                          node-version: 18
                          registry-url: https://registry.npmjs.org
                  - name: publish
                    run: pip3 install |
                         npm install  
                         npm run build
                         npm publish --access public
                    env: 
                        NODE_AUTH_TOKEN: ${{secrets.NPM_SECRET}}
