---

name: Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Unit Tests

    strategy:
      matrix:
        node-version: [18.x, 16.x, 14.x, 12.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3.7.0
        with:
          always-auth: false
          node-version: ${{ matrix.node-version }}

      - name: Run npm install mysql2@3.2.0 and typescript@5.0.4 if Node 12.x
        run: npm install mysql2@3.2.0 typescript@5.0.4
        if: matrix.node-version == '12.x'

      - name: Run npm install
        run: npm install

      - run: npm run build

      - name: Run Tests
        run: npm run test:unit
        env:
          CI: true
          KNEX_TEST_TIMEOUT: 60000
