---
name: Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Unit Tests

    strategy:
      matrix:
        node-version: [24.x, 22.x, 20.x, 18.x, 16.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          always-auth: false
          package-manager-cache: false
          node-version: ${{ matrix.node-version }}

      - name: Run npm install
        run: npm install

      - run: npm run build

      - name: Run Tests
        run: npm run test:unit
        env:
          CI: true
          KNEX_TEST_TIMEOUT: 60000
